server {
       listen 80;
       listen 443 ssl;

       server_name heitto.vimpa.in;

       ssl_certificate /etc/letsencrypt/live/heitto.vimpa.in/fullchain.pem;
       ssl_certificate_key /etc/letsencrypt/live/heitto.vimpa.in/privkey.pem;

       root /var/www/html/;
       index index.nginx-debian.html;

       location / {
               try_files $uri $uri/ =404;
       }
}
